/* Updated styles for the hamburger button */
.hamburger-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  z-index: 2;
  display: none;
  /* Hide the hamburger button by default */
}

/* Add media query for mobile view */
@media only screen and (max-width: 600px) {
  .hamburger-button {
    display: block;
    /* Show the hamburger button on screens below 601px width (mobile view) */
  }

  .content {
    display: none;
  }

  .show-sidebar .content {
    display: block;
  }
}